/*.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}*/
body{
  background-color: lightGray;
  
}



#button-container {
  background-color: darkGray;
  position: relative;
  top: 55px;
  left: 50px;
  width: 280px;
  height: 280px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 5px;
  border-radius: 15px;
}



.drum-pad {
  border-radius: 15px;
  font-size: 28px;
  background-color: gray;
  font-family: Courier New;
  font-weight: bold;
  cursor: pointer;
}
.drum-pad:hover{
  background-color: #00e600;
}

#controls{
  height: 260px;
  width: 280px;
  background-color: darkGray;
  position: relative;
  top: 55px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 7px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

/*#power{
  padding: 15px;
}*/
#power-button{
  border-radius: 50%;
  border: 2px solid black;
  padding: 8px;
  background-color: black;
  color: white;
  font-size: 23px;
  float: right;
  cursor: pointer;
}
#power-button:hover{
  color: #0099ff;
  border: 2px solid gray;
}

#volume {
  padding: 15px;
}

#display {
  background-color: gray;
  border: 2px solid black;
  display: inline-block;
  width: 70%;
  height: min-content;
  margin: 0 auto;
  
}
#bank {
  padding: 15px;
}

#bank-switch-holder {
  border: 3px solid black;
  background-color: black;
  display: inline-block;
  height: 20px;
  width: 50px;
  cursor: pointer;
}

#bank-switch{
  display: block;
  background-color: red;
  height: 100%;
  width: 50%;
  /*THESE STATE CHANGES WILL LET YOU TOGGLE THE SWITCH LATER:*/
  /*position: relative;
  left: 50%;*/
}

