
.drum-pad {
    border-radius: 15px;
    font-size: 28px;
    background-color: gray;
    font-family: Courier New;
    font-weight: bold;
    cursor: pointer;
  }
  
  .drum-pad:focus {
    background-color: #00e600;
    outline: none;
  }

  #button-container {
    background-color: darkGray;
    width: 280px;
    height: 280px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 5px;
    border-radius: 15px;
  }

  @media only screen and (max-width: 750px){
    #button-container {
      top: 0;
      left: 0;
        margin-top: 10%;

    }


  }
  