#controls{
    height: 260px;
    width: 280px;
    background-color: darkGray;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }

  @media only screen and (max-width: 750px)  {

    #controls{

        grid-gap: 0;
        margin-bottom: 10%;


    }

  }