@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

#volume {
    padding: 15px;
  }

  #volume-switch-label {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
  }


  /*what is media-volume-sliderthumb?*/
  /*@media only screen and (max-width: 750px){

    #volume{
      padding: 3px;
    }

    #volume-switch-label{
      font-size: 17px;
    }

  }*/
